In [1]:
import pandas as pd
import numpy as np
import sqlite3
import seaborn as sns
import io
from sqlite3 import Error

In [2]:
#  Création de et connexion à la base 'house'
conn = sqlite3.connect('house') 
c = conn.cursor()

# Création des tables 'city' et 'house_price'
c.execute('''
          CREATE TABLE IF NOT EXISTS city
          ([city_id] INTEGER PRIMARY KEY AUTOINCREMENT, [city_name] TEXT)
          ''')
          
c.execute('''
          CREATE TABLE IF NOT EXISTS house
          ([house_id] INTEGER PRIMARY KEY AUTOINCREMENT, [price] INTEGER, [city_id] INTEGER SECONDARY KEY)
          ''')
                     
conn.commit()

In [3]:
conn = sqlite3.connect('house') 
c = conn.cursor()
            
# Insertion de valeurs dans les tables
c.execute('''
          INSERT INTO city (city_name)

                VALUES
                ('Shoreline'),
                ('Seattle'),
                ('Kent'),
                ('Bellevue'),
                ('Redmond'),
                ('Mapple Valley'),
                ('North Bend'),
                ('Sammamish'),
                ('Auburn'),
                ('Des Moines'),
                ('Lake Forest Park')
          ''')

c.execute('''
          INSERT INTO house (price, city_id)

                VALUES
                (933979,8),
                (3651820,1),
                (2556185,2),
                (2850589,10),
                (2349245,9),
                (3671374,7),
                (3856950,11),
                (2081038,8),
                (2842026,1),
                (4249737,10),
                (990118,9),
                (4650160,1),
                (2510241,3),
                (90103,1),
                (1996253,11)
          ''')

conn.commit()

In [4]:
conn = sqlite3.connect('house') 
c = conn.cursor()


# Affichage des données des 2 tables avec une jointure                   
c.execute('''
          SELECT *
         from city
          ''')

df_city = pd.DataFrame(c.fetchall(), columns=['city_name','city_id'])

print (df_city)

    city_name           city_id
0           1         Shoreline
1           2           Seattle
2           3              Kent
3           4          Bellevue
4           5           Redmond
5           6     Mapple Valley
6           7        North Bend
7           8         Sammamish
8           9            Auburn
9          10        Des Moines
10         11  Lake Forest Park

In [5]:
conn = sqlite3.connect('house') 
c = conn.cursor()


# Affichage des données des 2 tables avec une jointure                   
c.execute('''
          SELECT *
         from house
          ''')

df_house = pd.DataFrame(c.fetchall(), columns=['house_id','price','city_id'])

print (df_house)

    house_id    price  city_id
0          1   933979        8
1          2  3651820        1
2          3  2556185        2
3          4  2850589       10
4          5  2349245        9
5          6  3671374        7
6          7  3856950       11
7          8  2081038        8
8          9  2842026        1
9         10  4249737       10
10        11   990118        9
11        12  4650160        1
12        13  2510241        3
13        14    90103        1
14        15  1996253       11

In [6]:
conn = sqlite3.connect('house') 
c = conn.cursor()


# Affichage des données des 2 tables avec une jointure et somme sur les prix dans chaque ville                  
c.execute('''
          SELECT city_name, sum(price)
         from house
         inner join city on city.city_id == house.city_id
         group by city_name
          ''')

df_total_price_for_city = pd.DataFrame(c.fetchall(), columns=['city_name','total_price'])

print (df_total_price_for_city)

          city_name  total_price
0            Auburn      3339363
1        Des Moines      7100326
2              Kent      2510241
3  Lake Forest Park      5853203
4        North Bend      3671374
5         Sammamish      3015017
6           Seattle      2556185
7         Shoreline     11234109